<div id="home">
    <%= image_tag '/images/digitalnz-logo.jpg', :size => "353x120", :alt => 'Digital New Zealand' %>

    <% form_tag({:action => :timeline}, :method => :get) do %>
        <%= text_field_tag 'search_text', nil, :size => 60 %>
        <%= submit_tag 'Search for Timeline' %>
    <% end %>
</div>


